<h1>Welcome to Barber Shop!</h1>
<p>We are open</p>
<form action = "/" method = "POST">
	<p>Your name</p>
	<input type = "text" name = "first_name" /><br />
	<p>Your last name</p>
	<input type = "text" name = "last_name" /><br />
	<p>Your phone</p>
	<input type = "text" name = "phone"><br />
	<p>When yo want to come?</p><input type = "date" /><br />
	<input type = "submit" name = "submit" />
</form>