<h1>Hi</h1>

<p>You typed: <%= @login %></p>
<p><%= @denied %></p>
<form action = "/" method = "POST">
	<input type = "text" name = "login" /><br />
	<input type = "password" name = "password" /><br />
	<input type = "submit" name = "submit" value = "Submit" />
</form>